@import "tailwindcss";

@theme {
  --font-sans: var(--font-ivar-text), ui-sans-serif, system-ui, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
}

:root {
  --color-charcoal: #34342e;
  --color-gold: #996515;
}

body {
  font-family: var(--font-ivar-text), sans-serif; /* Default body font */
  color: var(--color-charcoal);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-ivar-display), serif; /* Default heading font */
}

.font-ivar-display {
  font-family: var(--font-ivar-display), serif;
}

.font-ivar-text {
  font-family: var(--font-ivar-text), sans-serif;
}

.font-haigrast {
  font-family: var(--font-haigrast), cursive;
}
.font-gtAmerica {
  font-family: var(--font-gtAmerica), cursive;
}

.text-gold {
  color: var(--color-gold);
}

/* Menu */
nav.main-nav a {
  font-family: var(--font-gt-america);
  font-weight: 400;
}

#project-owner,
#project-owner h3,
#project-owner p {
  font-family: var(--font-gt-america);
}

/* SectionHeader Slice */
.section-header h1 { /* Eyebrow */
  font-size: 20px;
  color: var(--color-charcoal);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: var(--font-ivar-display);
  margin-bottom: 0.5rem;
}
.section-header h2 { /* Main Title */
  font-size: 80px;
  color: var(--color-charcoal);
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--font-ivar-display);
  line-height: 1;
  margin: 0;
}
.section-header p { /* Cursive Text */
  font-size: 50px;
  font-weight: 400;
  color: var(--color-gold);
  font-family: var(--font-haigrast), cursive;
  margin: -2rem 0 0;
}
@media screen and (max-width: 992px) {
  .section-header h2 {
    font-size: 60px;
  }
}
@media screen and (max-width: 768px) {
  .section-header h1 {
    font-size: 16px;
  }
  .section-header h2 {
    font-size: 40px;
  }
  .section-header p {
    font-size: 32px;
    margin: -1rem 0 0;
  }
}